Django==3.1
psycopg2
django-widget-tweaks 
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
scipy
librosa
#transformers
#sklearn
#ttslearn
django-heroku
gunicorn
whitenoise
pytz
sqlparse
dj-database-url==0.5.0
heroku

